@model Acmilan.Models.Company

<tr>
    <th scope="row">@Model.Company_id</th>
    <td>@Model.CompanyName</td>
    <td>@Model.Address</td>
    <td>@Model.ZipCode</td>
    <td>@Model.Telephone</td>
    <td>@Model.Facsimile</td>
    <td>@Model.Email</td>
    <td>@Model.Website</td>
    <td>@Model.Services</td>
    <td>@Model.Company_category_id</td>
</tr>